<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>
        <%= title %>
    </title>
</head>

<body>

    <%- include('header'); -%>
    <main>
        <%- content %><!--We are simply passing this through from index.ejs in src as opposed
            to a usual 'ejs include' like the above (this is from 11ty.. if you google '11ty layouts', you will see that layout passes through 'content')-->
    </main>  <!--putting inside main is 'good semantics'-->
    <%- include('footer'); -%>

</body>

</html>