---
title: "BLOG"
layout: "base.ejs"
---


<div class="section container">
  <h1 class="section-title">Recent articles</h1>
  <ul role="list" class="articles__list flow">

    <% for(let post of collections.post){ %>
      <!--Can pass the post through to our include.-->
      <%- include('_includes/article-snippet.ejs', { post }); -%>
    <% } %> 

  </ul>
</div>